body{
    background-color: #F0F0F0;
    position: relative;
}
nav.navbar{
    margin-top: 40px;
    height: 50px;
    width: 340px;
    padding: 0;
}

.img-logo{
    display: inline-block;
    height: 105px;
    width: 105px;
}
.logo{
    position: absolute;
    left:110px;
}
.container{
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    position: relative;
}
h2 {
    font-size: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    top:40px;
}

.items-stuff{
    font-size: 14px;
}

#items-menu{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top:60px;
    width: calc(100% - 61px);
    margin-left: 30px;
    padding: 0;
    text-align: center;
}

.center-paragraph{
    position: relative;
    top:100px;
}

.center-paragraph p{
    font-size: 34px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

.location-paragraph{
    position: relative;
    top:118px;
}

.location-paragraph p{
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

#circles{
    position: relative;
    top:150px;
    left:64px;
    width: 241px;
}
#circles2{
    position: relative;
    top:110px;
    left: 64px;
    width: 241px;
}

.circle-item1{
    background-color:#E6563B;
    padding:10px;
    margin-top:5px;
    margin-bottom: 50px;
    margin-right:20px;
    border-radius:50%;
    font-size:20px;
    width: 105px;
    height: 105px;
    color: white;
    font-weight: bold;
    border: 10px solid white;


}

.circle-items2{
    background-color: #DEA03D;
    padding:10px;
    margin-top:5px;
    margin-bottom: 50px;
    margin-right:0px;
    border-radius:50%;
    font-size:17px;
    width: 105px;
    height: 105px;
    color: white;
    font-weight: bold;
    border: 10px solid white;

}

.circle-items3{
    background-color: #7CB06C;
    padding:10px;
    margin-top:5px;
    margin-bottom: 50px;
    margin-right:20px;
    border-radius:50%;
    font-size:17px;
    width: 105px;
    height: 105px;
    color: white;
    font-weight: bold;
    border: 10px solid white;
}

.circle-items4{
    background-color: #00ABA9;
    padding:10px;
    margin-top:5px;
    margin-bottom: 50px;
    margin-right:0px;
    border-radius:50%;
    font-size:20px;
    width: 105px;
    height: 105px;
    color: white;
    font-weight: bold;
    border: 10px solid white;
}
#circles p {
    line-height: 65px;
}
#circles2 p{
    line-height: 65px;
}
#selected-work{
    position: relative;
    top: 150px;
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: center;
}
#apple-picture{
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
    top: 180px;
    border: 15px solid #E6E6E6;
    border-radius: 10px;
    width: 210px;
    margin-left: calc(18% + 1px);
}

#apple-picture img{
    width: 180px;
}

#featured-project{
    position: relative;
    padding: 0;
    margin: 0;
    text-align: left;
    top: 189px;
    font-size: 10px;
    left: calc(18% + 1px);
    display: flex;

}
#icon1{
    background-color: #E6563B;
    margin-top:5px;
    margin-right:3px;
    border-radius:50%;
    font-size:13px;
    width: 18px;
    height: 18px;
    font-weight: bold;
    text-align:center;
}
#icon2{
    background-color: #EB9D3A;
    margin-top:5px;
    margin-right:3px;
    border-radius:50%;
    font-size:13px;
    width: 18px;
    height: 18px;
    font-weight: bold;
    text-align:center;
}
#icon3{
    background-color: #7CB06C;
    margin-top:5px;
    margin-right:3px;
    border-radius:50%;
    font-size:13px;
    width: 18px;
    height: 18px;
    font-weight: bold;
    text-align:center;
}
#icon4{
    background-color: #00ABA9;
    margin-top:5px;
    margin-right:3px;
    border-radius:50%;
    font-size:13px;
    width: 18px;
    height: 18px;
    font-weight: bold;
    text-align:center;
}
#icon-placement{
    position: relative;
    left: 45px;
    display: flex;
    bottom: 7px;
}

/*media queries start here*/
@media screen and (min-width:768px){
    nav.navbar{
        margin:30px 0 5px 0;
        height: 50px;
        width: 800px;
        padding: 0;
    }

    .logo{
        position: absolute;
        margin-top: 5px;
        left:55px;
    }
    .header1{
        position: relative;
        bottom: 50px;
    }
    h2 {
        font-size: 32px;
        padding: 0;
        margin: 0;
        text-align: center;
        position: relative;
        top:0;
        right: 105px;
    }

    #items-menu{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top:-75px;
        width: 300px;
        margin-left: 30px;
        padding: 0;
        text-align: center;
        left: 450px;
    }

    .center-paragraph p{
        font-size: 34px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        text-align: center;
        position: relative;
        bottom: 115px;
    }

    .location-paragraph{
        position: relative;
        top:20px;
    }

    #circles{
        position: relative;
        top:150px;
        left:64px;
        width: 241px;

    }

    #circles2{
        position: relative;
        top:110px;
        left: 64px;
        width: 241px;
    }

}
